<!DOCTYPE html>
<html>
  <head>
    <%- include('../partial/header') %>
  </head>
  <body>
    <%- include('../partial/navbar') %>
    <div class="container mt-4">
      <!-- Breadcrumb row -->
      <div class="row">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">credits</li>
          </ol>
        </nav>
      </div>

      <h1>All Credits</h1>
      <!-- buttons row -->
      <div class="row">
        <div class="col">
          <a href="/credits/new" class="btn btn-primary">Add new purchase</a>
          <a href="/items" class="btn btn-primary">Package types</a>
          <p>TODO: button for package types: view, create, update</p>
        </div>
      </div>
      <hr class="my-4" />

      <!-- credits table row -->
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Parent</th>
                <th scope="col">Code</th>
                <th scope="col">Value</th>
                <th scope="col">Usage</th>
                <th scope="col">Expiry</th>
              </tr>
            </thead>
            <tbody>
              <% allCredits.forEach(package => { %>
              <tr>
                <td>
                  <a href="/parent/<%=package.user.parent.id%>"
                    ><%= package.user.name %></a
                  >
                </td>
                <td>
                  <a href="/credit/<%= package.id%>"><%= package.code %></a>
                </td>
                <td><%= package.value %></td>
                <td>
                  <%= package.attendances.length %>/ <%= package.creditTotal %>
                </td>
                <td><%= moment(package.expiry).fromNow(true) %></td>
              </tr>

              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%- include('../partial/requiredJS') %>
  </body>
</html>
