<!DOCTYPE html>
<html>
  <head>
    <%- include('../partial/header') %>
  </head>
  <body>
    <%- include('../partial/navbar', {active: 'credits'}) %>
    <div class="container mt-4">
      <!-- Breadcrumb row -->
      <div class="row">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">credits</li>
          </ol>
        </nav>
      </div>

      <h1>Credits</h1>
      <hr class="my-4" />
      <!-- buttons row -->
      <div class="row">
        <div class="col text-end">
          <a href="/credits/new" class="btn btn-primary">Add new purchase</a>
          <a href="/items" class="btn btn-primary">Credit types</a>
        </div>
      </div>
      <!-- nav tabs row -->
      <div class="row px-4 mt-4">
        <%- include ('../partial/tabs', {tabs: navtabs}) %>
      </div>
      <!-- credits table row -->
      <div class="row">
        <div class="col">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Parent</th>
                <th scope="col">Code</th>
                <th scope="col">Value</th>
                <th scope="col">Usage</th>
                <th scope="col">Expiry</th>
              </tr>
            </thead>
            <tbody>
              <% credits.forEach(package => { %>
              <tr>
                <td>
                  <a href="/parent/<%=package.user.parent.id%>"
                    ><%= package.user.name %></a
                  >
                </td>
                <td>
                  <a href="/credit/<%= package.id%>"><%= package.code %></a>
                </td>
                <td><%= package.value %></td>
                <td>
                  <%= package.attendances.length %>/ <%= package.creditTotal %>
                </td>
                <td><%= moment(package.expiry).fromNow(true) %></td>
              </tr>

              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%- include('../partial/requiredJS') %>
  </body>
</html>
