<!DOCTYPE html>
<html>
  <head>
    <%- include('../partial/header') %>
  </head>
  <body>
    <%- include('../partial/navbar') %>
    <div class="container mt-4">
      <h1>All Credits</h1>
      <hr class="my-4" />
      <div class="row">Search bar here</div>
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Parent</th>
                <th scope="col">Code</th>
                <th scope="col">Value</th>
                <th scope="col">Usage</th>
                <th scope="col">Expiry</th>
              </tr>
            </thead>
            <tbody>
              <% allCredits.forEach(package => { %>
              <tr>
                <td>
                  <a href="/parent/<%=package.user.id%>"
                    ><%= package.user.name %></a
                  >
                </td>
                <td>
                  <a href="/credit/<%= package.id%>"><%= package.code %></a>
                </td>
                <td><%= package.value %></td>
                <td>
                  <%= package.attendances.length %>/ <%= package.creditTotal %>
                </td>
                <td><%= moment(package.expiry).fromNow(true) %></td>
              </tr>

              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
