<!DOCTYPE html>
<html>
  <head>
    <%- include('partial/header.ejs') %>
  </head>
  <body>
    <div class="container">
      <h1>All students</h1>
      <hr />
      <div>Search bar here</div>
      <div>Table goes here</div>
      <table>
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Parent</th>
            <th scope="col">Email</th>
            <th scope="col">Courses</th>
          </tr>
        </thead>
        <tbody>
          <% allStudents.forEach(student => { %>
          <tr>
            <th><%= student.name %></th>
            <td><%= moment(student.dob).fromNow(true) %></td>
            <td><%= student.user.name %></td>
            <td><%= student.user.email %></td>
            <td>0</td>
          </tr>

          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
