<!DOCTYPE html>
<html>
  <head>
    <%- include('../partial/header') %>
  </head>
  <body>
    <%- include('../partial/navbar') %>
    <div class="container mt-4">
      <h1>All Instructors</h1>
      <hr class="my-4" />
      <div class="row">
        <div class="col">
          <a href="/employment" class="btn btn-outline-primary"
            >View employment types</a
          >
          <a href="/instructors/new" class="btn btn-primary">New instructor</a>
        </div>

        Put search bar and filters here
      </div>
      <hr class="my-4" />
      <div class="row">
        To add table that shows sessions which have not been assigned
        instructors
      </div>
      <hr class="my-4" />
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Employment</th>
                <th scope="col">Scheme</th>
                <th scope="col">Rate</th>
                <th scope="col">Mobile</th>
                <th scope="col">Hours</th>
              </tr>
            </thead>
            <tbody>
              <% allInstructors.forEach(instructor => { %>
              <tr>
                <td scope="row">
                  <a href="/instructor/<%= instructor.id %>"
                    ><%= instructor.user.name %></a
                  >
                </td>
                <td><%= instructor.employment.type%></td>
                <td><%= instructor.employment.name %></td>
                <td>$ <%= instructor.employment.rate %></td>
                <td><%= instructor.user.mobile %></td>
                <td><%= instructor.dataValues.hours%></td>
              </tr>

              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
