<!DOCTYPE html>
<html>
  <head>
    <%- include('../partial/header') %>
  </head>
  <body>
    <%- include('../partial/navbar', {active: 'instructors'}) %>
    <div class="container mt-4">
      <!-- Breadcrumbs row -->
      <div class="row">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">instructors</li>
          </ol>
        </nav>
      </div>
      <h1>All Instructors</h1>
      <hr class="my-4" />
      <!-- Buttons row -->
      <div class="row">
        <div class="col text-end">
          <a href="/employment" class="btn btn-primary"
            >View employment types</a
          >
          <a href="/instructors/new" class="btn btn-primary">New</a>
        </div>
      </div>
      <!-- Nav tabs row -->
      <div class="row px-4 my-4">
        <%- include ('../partial/tabs', {tabs: navtabs}) %>
      </div>
      <!-- Assignments row -->
      <% if (allInstructors) { %>
      <div class="row">
        <div class="col">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Employment</th>
                <th scope="col">Scheme</th>
                <th scope="col">Rate</th>
                <th scope="col">Mobile</th>
                <th scope="col">Hours</th>
              </tr>
            </thead>
            <tbody>
              <% allInstructors.forEach(instructor => { %>
              <tr>
                <td scope="row">
                  <a href="/instructor/<%= instructor.id %>"
                    ><%= instructor.user.name %></a
                  >
                </td>
                <td><%= instructor.employment.type%></td>
                <td><%= instructor.employment.name %></td>
                <td>$ <%= instructor.employment.rate %></td>
                <td><%= instructor.user.mobile %></td>
                <td><%= instructor.dataValues.hours%></td>
              </tr>

              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
      <% } %>
      <!-- Unassigned courses row -->
      <% if (courses) { %>
      <div class="row">
        <div class="col">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Course</th>
                <th scope="col">Signups</th>
                <th scope="col">Unassigned</th>
                <th scope="col">Dates</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody>
              <% courses.forEach((course) => { %>
              <tr>
                <td>
                  <a href="/course/<%= course.id %>"><%= course.name %></a>
                </td>
                <td><%= course.signups.length %></td>
                <td>
                  <%= course.dataValues.unassignedCount %>/<%=
                  course.sessions.length %>
                </td>
                <td>
                  <%= moment(course.startDatetime).format('DD/MM/YYYY') %>-<%=
                  moment(course.endDatetime).format('DD/MM/YYYY') %>
                </td>
                <td>
                  <%= moment(course.startDatetime).format('HH:mm') %>-<%=
                  moment(course.endDatetime).format('HH:mm') %>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
      <% } %>
    </div>
    <%- include('../partial/requiredJS') %>
  </body>
</html>
