<!DOCTYPE html>
<html>
  <head>
    <%- include('../partial/header') %>
  </head>
  <body>
    <%- include('../partial/navbar') %>
    <div class="container mt-4">
      <div class="row">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/students">parents</a>
            </li>
            <li class="breadcrumb-item active"><%= parent.name %></li>
          </ol>
        </nav>
      </div>

      <a class="btn btn-primary" href="/parent/edit/<%= parent.id %>"
        >Edit parent</a
      >
      <a class="btn btn-secondary" href="#">Add student</a>
      <h1><%= parent.name %></h1>
      <i>parent</i>
      <hr class="my-4" />
      <!-- Parent info -->
      <div class="row">
        <div class="col-md-6">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th>Email</th>
                <td><%= parent.email %></td>
              </tr>
              <tr>
                <th>Mobile</th>
                <td><%= parent.mobile %></td>
              </tr>
              <tr>
                <th>Address</th>
                <td><%= parent.parent.address %></td>
              </tr>
              <tr>
                <th>Postal Code</th>
                <td><%= parent.parent.postalCode %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 row mb-auto">
          <% parent.students.forEach(student => { %>
          <div class="card mx-2" style="width: 10rem">
            <div class="card-body">
              <h5 class="card-title">
                <a href="/student/<%= student.id%>"><%= student.name %></a>
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">
                Aged <%= moment(student.dob).fromNow(true) %>
              </h6>
              <p class="card-text">
                <%= student.dataValues.learningPathways %>
              </p>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
      <!-- Children course history -->
      <div class="row">
        <!-- Course history -->
        <h3 class="my-4">Course History</h3>
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Pathway</th>
                <th scope="col">Course</th>
                <th scope="col">Name</th>
                <th scope="col">Student</th>
                <th scope="col">Attendance</th>
                <th scope="col">Completed</th>
              </tr>
            </thead>
            <tbody>
              <% parent.students.forEach(student => {
              student.courses.forEach(course => { %>
              <tr>
                <td><%= course.coursetype.learningPathway %></td>
                <td><%= course.coursetype.level %></td>
                <td>
                  <a href="/course/<%=course.id%>"> <%= course.name %> </a>
                </td>
                <td><%= student.name %></td>
                <td>attendance</td>
                <td><%= moment(course.endDatetime).format('MMM yyyy') %></td>
                <% })}); %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Children info-->
      <div class="row">
        <h3 class="my-4">Purchases</h3>
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Package Type</th>
                <th scope="col">Purchase Date</th>
                <th scope="col">Expiry Date</th>
                <th scope="col">Usage</th>
              </tr>
            </thead>
            <tbody>
              <% parent.credits.forEach(package => { %>
              <tr>
                <td>
                  <a href="/credit/<%= package.id %>"><%= package.code %></a>
                </td>
                <td><%= package.item.name %></td>
                <td>
                  <%= moment(package.purchaseDate).format("DD/MM/YYYY") %>
                </td>
                <td><%= moment(package.expiry).format("DD/MM/YYYY") %></td>
                <td>
                  <%= package.attendances.length %> / <%= package.creditTotal %>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%- include('../partial/requiredJS') %>
  </body>
</html>
