<!DOCTYPE html>
<html>
  <head>
    <%- include('../partial/header') %>
  </head>
  <body>
    <%- include('../partial/navbar') %>
    <div class="container mt-4">
      <div class="row">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">students</li>
          </ol>
        </nav>
      </div>
      <h1>All students</h1>
      <hr class="my-4" />
      <div class="row">
        <div class="col">
          <a class="btn btn-primary" href="/students/new">Add a new student</a>
          <a class="btn btn-primary" href="/parents/new">Add a new parent</a>
        </div>
      </div>
      <div class="row">Put search bar and filters here</div>
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Parent</th>
                <th scope="col">Email</th>
                <th scope="col">Courses</th>
              </tr>
            </thead>
            <tbody>
              <% allStudents.forEach(student => { %>
              <tr>
                <td scope="row">
                  <a href="/student/<%= student.id %>"><%= student.name %></a>
                </td>
                <td><%= moment(student.dob).fromNow(true) %></td>
                <td>
                  <a href="/parent/<%= student.user.id %>"
                    ><%= student.user.name %></a
                  >
                </td>
                <td><%= student.user.email %></td>
                <td>0</td>
              </tr>

              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
