<!DOCTYPE html>
<html>
  <head>
    <%- include('../partial/header') %>
  </head>
  <body>
    <%- include('../partial/navbar') %>
    <div class="container">
      <h1>All students</h1>
      <hr class="my-4" />
      <div class="row">Search bar here</div>
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Parent</th>
                <th scope="col">Email</th>
                <th scope="col">Courses</th>
              </tr>
            </thead>
            <tbody>
              <% allStudents.forEach(student => { %>
              <tr>
                <th scope="row"><%= student.name %></th>
                <td><%= moment(student.dob).fromNow(true) %></td>
                <td><%= student.user.name %></td>
                <td><%= student.user.email %></td>
                <td>0</td>
              </tr>

              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
