<!DOCTYPE html>
<html>
  <head>
    <%- include('../partial/header') %>
  </head>
  <body>
    <%- include('../partial/navbar', {active: 'clients'}) %>
    <div class="container mt-4">
      <div class="row">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">clients</li>
            <li class="breadcrumb-item"><a href="/students">students</a></li>
            <li class="breadcrumb-item active"><%= student.name %></li>
          </ol>
        </nav>
      </div>
      <!-- <a class="btn btn-primary" href="/students">back</a> -->
      <h1><%= student.name %></h1>
      <div class="row">
        <div class="col">
          <a class="btn btn-primary" href="/student/edit/<%= student.id%>"
            >Edit Student</a
          >
        </div>
      </div>
      <hr class="my-4" />
      <div class="row">
        <!-- Student info -->
        <div class="col-md-6">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th>Parent</th>
                <td>
                  <a href="/parent/<%=student.user.parent.id%>"
                    ><%= student.user.name %></a
                  >
                </td>
              </tr>
              <tr>
                <th>Parent Email</th>
                <td><%= student.user.email %></td>
              </tr>
              <tr>
                <th>DOB</th>
                <td><%= moment(student.dob).format("D MMM YYYY")%></td>
              </tr>
              <tr>
                <th>Age</th>
                <td><%= moment(student.dob).fromNow(true)%></td>
              </tr>
              <tr>
                <th>Special Info</th>
                <td><%= student.additionalInfo %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <!-- Course history -->
        <h1 class="my-4">Course History</h1>
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Pathway</th>
                <th scope="col">Course</th>
                <th scope="col">Name</th>
                <th scope="col">Attendance</th>
                <th scope="col">Completed</th>
              </tr>
            </thead>
            <tbody>
              <% student.courses.forEach(course => { %>
              <tr>
                <td><%= course.coursetype.learningPathway %></td>
                <td><%= course.coursetype.level %></td>
                <td>
                  <a href="/course/<%= course.id %>"><%= course.name %></a>
                </td>
                <td>attendance</td>
                <td><%= moment(course.endDatetime).format('DD MMM yyyy') %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%- include('../partial/requiredJS') %>
  </body>
</html>
