<h1 class="mb-4"><%= form.title %></h1>

<form action="<%= form.formAction%>" method="<%= form.method%>">
  <!-- Dynamically  -->
  <% form.fields.forEach(field => { %>
  <div class="row mb-3">
    <label for="<%= field.name%>" class="col-sm-3 col-form-label"
      ><%= field.label %></label
    >
    <div class="col-sm-9">
      <% if (field.type === 'select') { %>

      <select
        class="form-select"
        name="<%= field.name %>"
        id="<%= field.name %>"
      >
        <option value="" hidden selected>Select from dropdown</option>
        <% field.options.forEach(option => { %>
        <option value="<%=option.id%>"><%=option.name%></option>
        <% }) %>
      </select>
      <% } else { %>
      <input
        type="<%= field.type %>"
        class="form-control"
        id="<%= field.name%>"
        name="<%= field.name%>"
        placeholder="<%= field.placeholder %>"
      />
      <% } %>
    </div>
  </div>
  <% }); %>

  <!-- Submit button -->
  <div class="row mb-3 justify-content-end">
    <div class="col-sm-9">
      <input
        class="btn btn-primary"
        type="submit"
        value="<%= form.submitVal %>"
      />
      <a class="btn btn-danger" href="<%= form.onCancel %>"
        ><%= form.cancelVal %></a
      >
    </div>
  </div>
</form>
