<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <div class="container">
      <h1>All Courses</h1>
      <hr />
      <div>Search bar here</div>
      <div>Table goes here</div>
      <table>
        <thead>
          <tr>
            <th scope="col">Learning Pathway</th>
            <th scope="col">Course</th>
            <th scope="col">Date</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Location</th>
            <th scope="col">Signups</th>
            <th scope="col">Instructor</th>
          </tr>
        </thead>
        <tbody>
          <% allCourses.forEach(course => { %>
          <tr>
            <th><%= course.coursetype.learningPathway %></th>
            <th><%= course.coursetype.level %></th>
            <td>
              <%= moment(course.startDatetime).format('DD/MM/YYYY') %>-<%=
              moment(course.endDatetime).format('DD/MM/YYYY') %>
            </td>
            <td><%= moment(course.startDatetime).format('HH:mm') %></td>
            <td><%= moment(course.endDatetime).format('HH:mm') %></td>
            <td><%= course.location %></td>
            <td>Signups</td>
            <td>Instructor</td>
          </tr>

          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
