<!DOCTYPE html>
<html>
  <head>
    <%- include('../partial/header') %>
  </head>
  <body>
    <%- include('../partial/navbar') %>
    <div class="container mt-4">
      <div class='row'>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/courses">courses</a></li>
            <li class="breadcrumb-item active">coursetypes</li>
          </ol>
        </nav>
      </div>
      <h1>CourseTypes</h1>
      <div class="row">
        <div class='col'>
          Info section here 
        </div>
      </div>
      <div class="row">
        <div class='col'><a href="/coursetypes/new" class='btn btn-primary'>Create new coursetype</a></div>
        <!-- Modal Form for new coursetype -->

      <hr class="my-4" />
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Learning Pathway</th>
                <th scope="col">Level</th>
                <th scope="col">Order</th>
              </tr>
            </thead>
            <tbody>
              <% allCoursetypes.forEach(coursetype => { %>
              <tr>
                <td><%= coursetype.learningPathway %></th>
                <td><%= coursetype.level %></th>
                <td><%= coursetype.order %></th>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%- include('../partial/requiredJS') %>
  </body>
</html>
